#footer-newsletter-content input {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#footer-newsletter-content input[type=submit] {
    background-color: #f7a600;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-color: #f7a600;
}

/* footer form plugin */

#footer-newsletter-content {
    text-align: center;
}

#footer-newsletter-content form {
    max-width: 888px;
    margin-left: auto;
    margin-right: auto;
}

#footer-newsletter-content form input[type="submit"] {
    width: 212px;
    float: left;
}

#footer-newsletter-content form input[type="text"] {
    width: 334px;
    float: left;
}

  .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}