/* You can add global styles to this file, and also import other style files */

$primary-color: #F7A600;
$secondary-color: rgba(255,255,255,0.5);
$background-color: rgb(242, 242, 242);

h1, h2, h3 {
    color: black;
    font-family: 'Lato', 'Roboto', 'Calibri', sans-serif;
}

p{
    color: black;
    font-family: 'Roboto';
}

h1 {
    text-align: left;
    font-size: 20;
}

h2 {
    text-align: right;
    font-size: 20;
}

h3 {
    text-align: left;
    font-size: 8;
}

p {
    text-align: left;
    font-size: 14;
}

.fliesstext {
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.container-login {
    width: 40%;
    height: 50%;
    padding: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-color;
    border-left: 7px solid black;
}

